* {
  font-family: 'Inconsolata', monospace !important;
}

body {
  background-color: #FFCC00;
}

.form {
  border: 3px solid #d4d4d4;
  width: auto;
  max-width: 647.500px;
  max-height: 592px;
  margin: auto;
  background-color: whitesmoke;
}

input[id="login_user"], input[id="login_pass"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.image_container {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.image {
  width: 40%;
  border-radius: 50%;
  max-width: 230px;
  max-height: 230px;
}

.login_div, .signup_div {
  padding: 16px;
}

.signup_div {
  padding-bottom: 65px;
}

#signup_btn  {
  float: right;
  padding: 8px !important;
  height: 100% !important;
}

#login_btn {
  width: 100% !important;
}

#signup_btn, #login_btn {
  color: white;
  background-color: #4CAF50;
  transition: all .2s;
  border: solid;
  border-color: #4CAF50;
  padding: 14px 20px !important;
  margin: 8px 0 !important;
  cursor: pointer;
  box-shadow: .3px .3px .3px .3px gray;
}

.time_div {
  display:inline-flex;
  width: 20%;
  margin: 3px;
  border: 1px solid black;
}

.time_div:hover {
    background-color:lightgrey;
    cursor: pointer;
}
.time_div:active {
    background-color: darkgrey;
}

button:not(#login_btn) {
  color: white;
  background-color: #4CAF50;
  transition: all .2s;
  border: solid;
  border-color: #4CAF50;
  height: 25px;
  padding-top: 2px;
  margin-left: 4px;
  cursor: pointer;
  box-shadow: .3px .3px .3px .3px gray;
}

button:hover {
  background-color: #BEEF38;
  border-color: #BEEF38;
  box-shadow: 1px 1px 1px 1px gray;
}

button:active {
  transform: translateY(1px);
  transition: all .01s !important;
}

button:focus {
  outline: none;
}

.navbar {
  background-color: black;
  margin: auto;
  width: 80%;
  padding: 0;
  margin: auto;
}

.home, .logout, .user, .plane {
  color: white;
  display: inline;
  list-style-type: none;
  margin: 0;
}
.navbar a {
  color: #FFF;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  width: 15%;
  cursor: pointer;
  margin: 0px 15px 0px 15px;
}

.flight_div {
  background-color:beige;
  border: 2px solid #98B549;
  margin:5px;
}

.f_div {
  max-width: 400px;
  margin: auto;
  height: auto;
}

.flightbuy_div {
    display: flex;
    flex-direction: column;
}

.active {
  background-color: #09f;
}

.search {
  background-color: white;
  padding: 10px 0 10px 0;
  width: 80%;
  margin: 15px auto auto auto;
}

#people-button {
  width: 168px !important;
  height: 35px !important;
  padding: 0 !important;
  margin: 10px 0 10px 0;
  text-align: center;
}

span.ui-selectmenu-text {
  margin-top: 8px;
  font-weight: 800;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 35% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 2px solid #888;
  width: 25%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  /* position: absolute;
  right: 30vw; */
  float: right;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  height: 20px;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

.price_btn {
    margin-bottom: 8px;
}

input {
  border: 1px solid #ccc;
  padding: 12px 12px;
  font: 800 13.3333px Inconsolata;
}

.ui-icon-triangle-1-s {
  margin-top: 10px;
}

#buyflight_btn {
  padding: 11px 0 11px 0 !important;
  height: 45px !important;
  width: 694px !important;
  margin: 18px auto 18px auto !important;
}

input[name="gender"] {
  margin: 0 5px 0 5px;
}

.yelp_item {
  border-bottom: 2px solid black;
  width: 80%;
  margin: 10px auto auto auto;
  text-align: left;
  display: flex;
  cursor: pointer;
}

.image2 {
  height: 73px;
  float: right;
}